<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd ">
	
	<import resource="com/xingzhe/framework/applicationContext-datasource.xml"/>	
	<import resource="com/xingzhe/framework/applicationContext-ibatis3.xml"/>
	<!--  redis 缓存-->
	<import resource="com/xingzhe/framework/applicationContext-Redis.xml"/>
</beans>