<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<mvc:annotation-driven />
	<context:annotation-config />
	<mvc:default-servlet-handler />
	<context:component-scan base-package="com.xingzhe.**.controller" />


	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<!-- 如果不配置或/*,将拦截所有的Controller -->
			<mvc:exclude-mapping path="/index.html" />
			<mvc:exclude-mapping path="/**/login.*" />
			<mvc:exclude-mapping path="/img/**/*.*" />
			<mvc:exclude-mapping path="/css/*.css" />
			<mvc:exclude-mapping path="/scripts/**/*.*" />
			<bean class="com.xingzhe.common.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		abstract="false" lazy-init="default" autowire="default">
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.JstlView</value>
		</property>
		<property name="prefix">
			<value>/WEB-INF/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<mvc:resources location="/WEB-INF/resourse/js/" mapping="/scripts/**" />
	<mvc:resources location="/WEB-INF/resourse/css/" mapping="/css/**" />
	<mvc:resources location="/WEB-INF/resourse/images/" mapping="/img/**" />

</beans>
	