<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-3.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<mvc:annotation-driven />
	<mvc:default-servlet-handler />
	<context:component-scan base-package="com.xingzhe.*.controller" />

	<mvc:resources location="/WEB-INF/resourse/js/" mapping="/scripts/**" />
	<mvc:resources location="/WEB-INF/resourse/css/" mapping="/css/**" />
	<mvc:resources location="/WEB-INF/resourse/images/" mapping="/img/**" />
	<mvc:resources location="/WEB-INF/resourse/swf/" mapping="/swf/**" />
	<mvc:resources location="/WEB-INF/resourse/xml/" mapping="/xml/**" />
	<mvc:resources location="/WEB-INF/resourse/json/" mapping="/json/**" />

	<!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
	<bean id="fastJsonHttpMessageConverter"
		class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	
	<!-- 文件上传 -->	
	 <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">        
        <property name="defaultEncoding" value="utf-8"></property>        
    </bean>	

	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="fastJsonHttpMessageConverter" />
			</list>
		</property>
	</bean>
	
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		abstract="false" lazy-init="default" autowire="default">
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.JstlView</value>
		</property>
		<property name="prefix">
			<value>/WEB-INF/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<mvc:view-controller path="/login.html" view-name="resourse/jsp/common/login" />

	<mvc:view-controller path="/dataImport.html" view-name="resourse/jsp/datamanager/DataImport"/>
	
	<mvc:view-controller path="/registerData.html" view-name="resourse/jsp/datamanager/RegisterData"/>
	
	<mvc:view-controller path="/compareData.html" view-name="resourse/jsp/datamanager/TaxCompare"/>

</beans>
	